  </body>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', async () => {
        await navigator.serviceWorker.register('/serviceWorker.mjs')
        console.log('Service worker registered.')
      })
    }
  </script>
</html>
