  </body>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('serviceWorker.mjs')
      })
    }
  </script>
</html>
