<%
config = {
  css: ['pages/home/home'],
  mjs: ['pages/home/home', 'queries'],
  title: 'Home'
}
%>

<%- include('partials/header') %>

<section id="container">
  <section id="filterPillsContainer"></section>
  <section id="cardContainer"></section>
</section>

<%- include('partials/footer') %>
