<%
config = {
  css: ['pages/home/home'],
  mjs: ['pages/home/home', 'queries'],
  title: 'Home'
}
%>

<%- include('partials/header') %>

<section id="cardContainer"></section>

<%- include('partials/footer') %>
