<%
config = {
  css: ['pages/home/home'],
  mjs: ['pages/home/home', 'queries'],
  title: 'Home'
}
%>

<%- include('partials/header') %>

<section id="container">
  <section id="filtersContainer">
    <div id="letterPillsContainer"></div>
    <div id="keywordPillsContainer"></div>
    <input id="textFilter" placeholder="Type to search" type="text">
  </section>

  <section id="cardsContainer"></section>
</section>

<%- include('partials/footer') %>
